//- file : error.pug
//- title : 오류페이지
//- @since 2022-10-20
extends ./_layout/none

block content
	.login-con
		.login-box
			h1=message
			p.gud_txt=err.stack
			.logo-txt2
				p status code : #{err.status}